html{
	background-color: hsl(0, 20%, 4%);
	color: hsl(0, 5%, 90%);
	font-size: 120%;
	font-family: tahoma, sans-serif;
}
body{
	text-align: center;
	margin-bottom: 10px;
}
.center{display:inline-block;}
table{margin: 20px 0;}
label{text-align: right;}
td{padding: 5px 8px;}
td:first-child{text-align: right;}
td:last-child{text-align: left;}
input, select, textarea{
	background-color: hsl(0, 5%, 80%);
	color: black;
	border: none;
	height: 19px;
	margin: 0;
}
textarea{
	height: 100%;
	font-family: tahoma, sans-serif;
}
.error{
	color: red;
}
input:not([type="radio"]):not([type="button"]), select, textarea{
	width: 100%;
	padding: 0;
}

.button,button,input[type=submit]{
border:none;
font-size:medium;
display: inline-block;
margin:2px;
text-decoration:none;
background-color: hsl(0, 5%, 80%);
padding:5px 8px;
cursor:pointer;
vertical-align:middle;
font-weight: 700;
color: black;
}

.button:active,button:active,input[type=submit]:active{background-color: hsl(0, 5%, 50%);}

input[type="radio"]{width: 25px;}

