::-webkit-scrollbar-thumb {
background-color:hsla(0,0%,0%,.4);}

::-webkit-scrollbar,::-webkit-scrollbar-corner {
background-color:hsla(0,0%,0%,0);}

body{
color:hsl(0,0%,85%);
background-color:hsl(90,90%,20%);
font-size: 110%;
font-family: tahoma, sans-serif;
margin:0 1em;}

div{
position:relative;
margin-bottom:10px;}

.Seperate{
background-color:hsla(0,0%,0%,.2);
margin-bottom:10px;
border:none;
border-radius:10px;
padding:.5em;}

nav>a{
border-radius: 8px;
background-color:hsla(0,0%,0%,.2);
padding: 5px;
display: inline-block;}

nav>a:active{
border-bottom:1px solid hsl(0,0%,10%);}

nav{
padding:.5em 0;}

nav span{
margin-left:10px;}

h2{
margin-top:0;
margin-bottom:.3em;}

a{
color:hsl(0,0%,85%);
text-decoration:none;
border-bottom:1px solid hsl(0,0%,75%);}

body>footer{
font-size:90%;
border-top:2px solid hsl(0,0%,75%);
padding-top:10px;
margin-bottom:10px;
position:relative;}

.userInfo{
border-right:1px solid hsl(0,0%,75%);
text-align:center;
width:150px;
vertical-align:top;}

article,.userInfo{
padding:0 5px;}

article{
position:relative;}

article>header {
font-weight:700;}

header{
margin-right:1em;}

section{
font-size:95%;}

footer{
display:block;
bottom:0;
font-size:65%;
width:100%;}

input:focus,textarea:focus,button:focus{
outline:none;}

input:not([type=button]):not([type=submit]),textarea,select, option{
background-color:hsla(0,0%,0%,.2);
color:hsl(0,0%,85%);
border:none;
padding:2px 3px;}

input:not([type=button]):not([type=checkbox]):not([type=submit]),textarea{
min-width:99.5%;}

textarea {
max-height:20em;
min-height:1.2em;
overflow:auto;
resize:none;}

.button,button,input[type=button],input[type=submit]{
color:hsl(0,0%,85%);
font-size:100%;
cursor:pointer;
padding:2px 4px;
text-decoration:none;
vertical-align: middle;
border:1.5px solid hsl(0,0%,50%);
border-radius:10px;
background-color:hsla(0,0%,0%,.2);
line-height:1em;}

.button:active,button:active,input[type=button]:active,input[type=submit]:active{
border:2px solid hsl(0,0%,75%);;}

td{
padding:4px;}

td:first-child{
text-align:right;}

h3{
margin:0;
padding:5px 0;}

.page_wrap{
-ms-box-orient:horizontal;
display:flex;}

.flex_wrap{
-webkit-flex-wrap:wrap;
flex-wrap:wrap;}

.page_wrap>div{
width:25%;}

.post_browse>*{
text-decoration:none;
background-color:hsla(0,0%,0%,.2);
border:none;
border-radius:5px;
display:inline-block;
padding:3px 8px;}

.flex{
-webkit-box-flex:1;
-moz-box-flex:1;
-webkit-flex:1;
-ms-flex:1;
flex:1;}

.right{
text-align:right;
float:right;}

.pointer{
cursor:pointer;}

.error{
color:hsl(0,100%,45%);}

ul{
list-style:none;
margin:0;
padding:0;}

li{
margin:1em 0;
margin-left:1em;}

#login_form{
display:none;
position:fixed;
width:300px;
min-height:220px;
left:50%;
margin-left:-180px;
top:50%;
margin-top:-150px;
background-color:hsl(90,90%,20%);
border:2px solid #000;
border-radius:5px;
text-align:center;
z-index:20;
padding:30px;}

#login_form button{
margin:.6em 0;}

#overlay{
display:none;
position:fixed;
top:0;
left:0;
background-color:#000;
opacity:0.4;
width:100%;
height:100vh;
z-index:10;}

.thread>:not(footer),li>*{
display:inline-block;}

.post_browse,form{
margin-bottom:5px;}

.login_hide+a,.login_hide,.logout_hide,.logout_hide+form,.hide+*,.hide,.section_hide,.section_hide+*{
display:none;}

.inline,.logout_hide:checked+form{
display:inline-block;
margin:0;}

.hide:checked+*{
display:inline;}

.section_hide:checked+*,.login_hide:checked~#login_form,.login_hide:checked~#overlay{
display:block;}

@media(min-width:40em){html{font-size:100%;}}